@font-face {
  font-family: "tttgbnumber";
  src: url("../../../fonts/tttgbnumber.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-size: 18px;
  color: #1e1f20;
  font-family: PingFangSC-Medium, PingFang SC, sans-serif;
  transform: scale(2);
  transform-origin: 0 0;
}

.container {
  width: 465px;
  padding: 20px 15px 10px 15px;
  background-color: #ececec;
}

.head_box {
  border-radius: 15px;
  font-family: tttgbnumber;
  padding: 10px 20px;
  position: relative;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
}

.head_box .id_text {
  font-size: 24px;
  color: #e8ebee;
}

.head_box .day_text {
  font-size: 20px;
  color: #f3f6f8;
}

.head_box .genshin_logo {
  position: absolute;
  top: -15px;
  right: 15px;
  width: 150px;
}

.base_info {
  position: relative;
  padding-left: 10px;
}

.uid:before {
  content: " ";
  position: absolute;
  width: 5px;
  height: 24px;
  border-radius: 1px;
  left: 0;
  top: 0;
  background: #d3bc8d;
}

.uid {
  font-family: tttgbnumber;
}

.data_box {
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 15px 5px 15px;
  background: #f5f5f5;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
  position: relative;
}

.tab_lable {
  position: absolute;
  top: -10px;
  left: -8px;
  background: #d4b98c;
  color: #fff;
  font-size: 14px;
  padding: 3px 10px;
  border-radius: 15px 0px 15px 15px;
  z-index: 20;
}

.data_line {
  display: flex;
  justify-content: space-around;
  margin-bottom: 14px;
}

.data_line_item {
  width: 100px;
  text-align: center;
  /*margin: 0 20px;*/
}

.num {
  font-family: tttgbnumber;
  font-size: 24px;
}

.data_box .lable {
  font-size: 20px;
  color: #7f858a;
  line-height: 1;
  margin-top: 3px;
}

.record {
  margin-top: 15px;
  width: 100%;
  background: #f5f5f5;
  border-radius: 10px;
}

.record-world {
  padding-top: 15px;
  margin-left: 15px;
  display: flex;
  padding-bottom: 10px;
}

.record-world div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.record-world-icon {
  width: 35px;
  margin-right: 10px;
}

.high-score {
  display: block !important;
  margin-left: auto;
  margin-right: 15px;
}

.high-score-title {
  font-size: 12px;
  text-align: center;
}

.high-score-value {
  font-size: 16px;
  text-align: center;
}

.record-time {
  color: #525252;
  font-size: 12px;
  margin-left: 15px;
  padding-bottom: 10px;
}

.divider {
  border-top: 1px solid #c9cacf;
  margin-left: 15px;
  margin-right: 15px;
}

.record-characters {
  margin-top: 10px;
}

.record-characters-title {
  margin-left: 15px;
  color: #343434;
  font-size: 12px;
}

.record-characters-list {
  margin-left: 15px;
  display: flex;
}

.avatar-box {
  margin: 3px 6px 6px 1px;
}

.avatar {
  margin-top: 5px;
  margin-left: 5px;
  background: #cb9a6d;
  width: 90px;
  border-radius: 0 15px 0 0;
  height: 105px;
  position: relative;
  overflow: hidden;
}

.rarity5 {
  background: linear-gradient(45deg, #c59a65, #894f4a);
}

.rarity4 {
  background: linear-gradient(45deg, #7f54c0, #3d3d63);
}

.avatar-inner {
  position: absolute;
  left: 4px;
  top: 3px;
  border-radius: 0 15px 0 0;
  border: #fffdfd48 3px solid;
  width: 84px;
  height: 90px;
}

.avatar-img {
  width: 90px;
  position: relative;
  z-index: 100;
}

.avatar-banner {
  position: absolute;
  top: 90px;
  background: rgb(126, 121, 121);
  color: white;
  font-size: 12px;
  text-align: center;
  width: 100%;
  z-index: 101;
}

.avatar-element {
  --borderColor-fire: #c5523a;
  --borderColor-ice: #4089bb;
  --borderColor-imaginary: #f1d85e;
  --borderColor-lightning: #a042be;
  --borderColor-physical: #857f87;
  --borderColor-quantum: #4b52a1;
  --borderColor-wind: #349972;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 7px;
  left: 7px;
  border: 1px solid;
  z-index: 101;
  background: black;
  transform: rotate(45deg);
  overflow: hidden;
}

.avatar-element img {
  transform: rotate(-45deg);
  width: 20px;
  position: absolute;
  top: -2px;
  left: -2px;
}

.record-wish {
  display: flex;
  margin-left: 15px;
  margin-top: 5px;
}

.record-wish-icon {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: #bbbbbb solid 2px;
  background: #424242;
}

.record-wish-icon img {
  width: 30px;
}

.circle-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: #bbbbbb solid 1px;
  position: relative;
  top: 22px;
  left: -12px;
  font-size: 12px;
  background: #ececec;
}

.record-wish-detail {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  font-size: 12px;
}

.record-wish-detail-header {
  height: 30px;
  background: rgba(208, 208, 208, 0.6);
  padding-left: 12px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.record-wish-detail-content {
  padding-top: 5px;
  display: flex;
  background: rgba(245, 245, 245, 0.6);
  padding-bottom: 5px;
}

.record-wish-detail-content-left {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.record-wish-detail-content-left div {
  margin-left: 2px;
}

.record-wish-detail-content-right {
  width: 560px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.record-wish-detail-content-items-3 {
  background: #c79a6d;
  color: white;
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
}

.record-wish-detail-content-items-2 {
  background: #2572be;
  color: white;
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
}

.record-wish-detail-content-items-1 {
  background: #727272;
  color: white;
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
}

.record-wish-detail-content-items-content {
  padding: 5px 7px;
}

.record-wish-detail-content-items-content-badge {
  background: rgb(15, 15, 15);
  color: #dcb58c;
  height: 15px;
}

.qiwu {
  margin-left: 5px;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: #bbbbbb solid 1px;
}

.qiwu img {
  width: 32px;
  height: 32px;
  margin-top: 3px;
  margin-left: 3px;
}

.logo {
  font-size: 12px;
  font-family: "tttgbnumber";
  text-align: center;
  color: #7994a7;
}